:root {
  --header-height: 60px;
  --footer-height: 60px;
  --note-height: 130px;
  --content-height: calc(100vh - (var(--footer-height) + var(--header-height)));
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: var(--footer-height);
}

.tree-container {
    //min-height: 300px;
    //height: var(--content-height);
    max-height: 550px;
    //background-color: red;
}

.stats-container {
    --stats-height: calc(var(--content-height) - var(--note-height));
    //min-height: 535px;
    //height: var(--stats-height);
    //background-color: blue;
}

.note-container {
    //max-height: var(--note-height);
    //background-color: green;
}

.header {
  min-height: var(--header-height);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: #f5f5f5;
}

.record {
    font-size: 16;
    font-weight: bold;
}

.record--obselete {
    text-decoration: line-through;
}

.leaderboard__header {
    font-size: 16;
    font-weight: bold;
    text-decoration: underline;
}

.attrib {
  margin: 20px 0;
}

